In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\User\Desktop\mlcourse_open\\data\\mlbootcamp5_train.csv', sep=';', index_col='id')

In [4]:


df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [5]:
df.shape

(70000, 12)

In [6]:
df[df['gender']==1]['height'].mean()

161.35561168460356

In [7]:
df[df['gender']==2]['height'].mean()

169.94789538210054

In [8]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [9]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

In [10]:
df[df['gender']==1]['alco'].value_counts()

0    44369
1     1161
Name: alco, dtype: int64

In [11]:
2603.0/(2603+21867)

0.10637515324887617

In [12]:
1161.0/(44369+1161)

0.02549967054689216

In [13]:
df[df['gender']==1]['smoke'].value_counts()

0    44717
1      813
Name: smoke, dtype: int64

In [14]:
df[df['gender']==2]['smoke'].value_counts()

0    19114
1     5356
Name: smoke, dtype: int64

In [15]:
813.0/(44717+813)

0.017856358444981332

In [16]:
5356.0/(5356+19114)

0.21888026154474868

In [17]:
round(0.21888026154474868/0.017856358444981332)

12.0

In [18]:
df[df['smoke']==1]['age'].median()

19125.0

In [19]:
df[df['smoke']==0]['age'].median()

19722.0

In [88]:
(722-125)/30.0

19.9

In [25]:
df['age_years']=df['age']/365

In [29]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 13 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
age_years      70000 non-null float64
dtypes: float64(2), int64(11)
memory usage: 7.5 MB
None

In [30]:
df['age_years']=df['age_years'].round()

In [31]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [43]:
df1=df[(df['age_years']<65)&(df['age_years']>59)&(df['gender']==2)&(df['smoke']==1)]

In [44]:
df1.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
29,21755,2,162,56.0,120,70,1,1,1,0,1,0,60.0
52,23388,2,162,72.0,130,80,1,1,1,0,1,1,64.0
90,22099,2,171,97.0,150,100,3,1,1,0,1,1,61.0
240,21848,2,170,69.0,120,80,1,1,1,1,1,0,60.0
248,22671,2,174,74.0,130,80,3,1,1,0,1,1,62.0

In [45]:
df1.shape

(994, 13)

In [46]:
df2=df1[(df1['cholesterol']==1)&(df1['ap_hi']<120)]

In [47]:
df2.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
1951,21853,2,152,57.0,110,70,1,1,1,0,1,0,60.0
2415,23323,2,163,62.0,110,70,1,1,1,0,1,0,64.0
3082,22704,2,174,65.0,110,50,1,1,1,0,1,1,62.0
3112,21776,2,187,80.0,12,80,1,1,1,0,1,0,60.0
3262,22494,2,174,68.0,110,70,1,1,1,0,1,0,62.0

In [48]:
df2.shape

(78, 13)

In [49]:
df3=df1[(df1['cholesterol']==3)&(df1['ap_hi']>=160)&(df1['ap_hi']<180)]

In [50]:
df3.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
6382,21891,2,160,64.0,160,90,3,1,1,0,1,1,60.0
8972,22859,2,167,66.0,170,80,3,1,1,1,1,1,63.0
18870,21856,2,164,83.0,160,100,3,1,1,0,0,1,60.0
28497,21980,2,171,81.0,170,90,3,1,1,0,1,1,60.0
38592,22608,2,170,80.0,160,80,3,1,1,0,1,1,62.0

In [51]:
df3.shape

(22, 13)

In [52]:
78/22.0

3.5454545454545454

In [53]:
round(3.54)

4.0

In [54]:
df2['cardio'].value_counts()

0    58
1    20
Name: cardio, dtype: int64

In [55]:
df3['cardio'].value_counts()

1    19
0     3
Name: cardio, dtype: int64

In [57]:
20/78.0

0.2564102564102564

In [59]:
19/22.0

0.8636363636363636

In [62]:
round(0.8636363636363636/0.2564102564102564)

3.0

In [63]:
df['BMI']=10000*df['weight']/(df['height']*df['height'])

In [64]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011177

In [65]:
df['BMI'].median()

26.374068120774975

In [67]:
df[df['gender']==2]['BMI'].mean()

26.75444235728947

In [68]:
df[df['gender']==1]['BMI'].mean()

27.987583441833113

In [69]:
df[df['cardio']==0]['BMI'].mean()

26.548175206794745

In [70]:
df[df['cardio']==1]['BMI'].mean()

28.566060627015435

In [72]:
df[(df['cardio']==0)&(df['alco']==0)&(df['gender']==1)]['BMI'].mean()

26.84540659413151

In [73]:
df[(df['cardio']==0)&(df['alco']==0)&(df['gender']==2)]['BMI'].mean()

25.872638075460173

In [75]:
df4=df[(df['ap_hi']<df['ap_lo'])|(df['weight']<df['weight'].quantile(.025))|(df['weight']>df['weight'].quantile(.975))|(df['height']>df['height'].quantile(.975))|(df['height']<df['height'].quantile(.025))]

In [76]:
df4.shape

(6741, 14)

In [77]:
df4.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
23,14532,2,181,95.0,130,90,1,1,1,1,1,0,40.0,28.997894
24,16782,2,172,112.0,120,80,1,1,0,0,0,1,46.0,37.858302
33,23376,2,156,45.0,110,60,1,1,0,0,1,0,64.0,18.491124
59,19764,1,154,50.0,170,80,3,1,0,0,1,1,54.0,21.082813
81,20330,2,187,115.0,130,90,1,1,0,1,1,0,56.0,32.886271

In [78]:
df['weight'].quantile(.025)

51.0

In [79]:
df['weight'].quantile(.975)

108.0

In [80]:
df['height'].quantile(.025)

150.0

In [81]:
df['height'].quantile(.975)

180.0

In [84]:
round(100*6741/70000.0)

10.0